# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build artifacts
build/
DerivedData/
*.o
*.d

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# SPM resolved
*.resolved
